*.omc
*.o
*.cmi
*.cmx
*.a
source/compiler/instr.ml
source/compiler/instr.mli
source/compiler/lplex.ml
source/compiler/lpyacc.ml
source/compiler/lpyacc.mli
source/compiler/pervasive.ml
source/compiler/pervasive.mli
source/simulator/simdispatch.c
source/tables/instructions.c
source/tables/instructions.h
source/tables/pervasives.c
source/tables/pervasives.h
source/tables_gen/instrformats/instr_gen
source/tables_gen/instrformats/lex.yy.c
source/tables_gen/instrformats/y.tab.c
source/tables_gen/instrformats/y.tab.h
source/tables_gen/pervasives/lex.yy.c
source/tables_gen/pervasives/perv_gen
source/tables_gen/pervasives/y.tab.c
source/tables_gen/pervasives/y.tab.h
source/tjcc
source/tjcc.opt
source/tjdepend
source/tjdepend.opt
source/tjdis
source/tjdis.opt
source/tjlink
source/tjlink.opt
source/tjparse
source/tjparse.opt
source/tjsim
source/tjsim.opt
tjcc
tjdepend
tjdis
tjlink
tjparse
tjsim

